<div class="min-h-screen flex flex-col items-center justify-center bg-white text-white">
  <div class="text-black border-4 border-double border-black w-1/2 p-6 mx-auto text-center text-xl mb-8">
    募集の仕方を選択してね!
    <p class="mt-4">1のすぐ集まりたいは少人数で集まる場合に便利だよ</p>
    <p class="mt-4">2を選ぶと募集日時が3つだけ選択できて投票で日にちを決めることができるよ。複数人で集まる予定を調整したい時に便利!</p>

  </div>
  <div class="flex flex-col items-center w-full px-6">
    <%= link_to "すぐ集まりたい(※実装中だよ)", root_path, class: "btn btn-primary mb-4 px-6 py-2 bg-blue-600 rounded shadow" %>
    <p class="text-xl mb-4">or</p>
    <%= link_to "2日先の予定を募集したい", new_question_reservation_path(@question), class: "btn btn-primary px-6 py-2 bg-blue-600 rounded shadow" %>
  </div>
</div>