<div class="bg-star-dark flex-1">
<div class="text-white ml-3">
<h1 class="text-4xl mb-10">プライバシーポリシー</h1>

<section class="mb-4">
<h2>第1条（総則）</h2>
    <p>本プライバシーポリシーは、[Link_Disco]（以下、「本サービス」という）における個人情報およびその他の情報の取り扱いについて定めるものです。</p>
  </section>

  <section class="mb-4">
  <h2>第2条（収集する情報）</h2>
    <p>本サービスは、以下の情報を収集することがあります。</p>
    <ul>
      <li>利用者の登録情報（名前、メールアドレスなど）</li>
      <li>利用者が本サービスを利用する際に生成される情報（利用履歴、IPアドレス、クッキー情報など）</li>
    </ul>
  </section>

  <section class="mb-4">
  <h2>第3条（情報の利用目的）</h2>
    <p>収集した情報は、以下の目的で利用されます。</p>
    <ul>
      <li>本サービスの提供・運営のため</li>
      <li>利用者からのお問い合わせに対する対応のため</li>
      <li>本サービスの改善や新サービスの開発のため</li>
      <li>利用者に適した広告の配信のため</li>
    </ul>
  </section>

  <section class="mb-4">
  <h2>第4条（情報の第三者提供）</h2>
    <p>運営者は、以下の場合を除き、収集した情報を第三者に提供することはありません。</p>
    <ul>
      <li>法令に基づく場合</li>
      <li>利用者の同意がある場合</li>
      <li>利用者の権利や財産を保護するために必要と判断される場合</li>
    </ul>
  </section>

  <section class="mb-4">
  <h2>第5条（情報の管理）</h2>
    <p>運営者は、収集した情報のセキュリティを保護するために合理的な安全対策を講じます。</p>
  </section>

  <section class="mb-4">
  <h2>第6条（プライバシーポリシーの変更）</h2>
    <p>本プライバシーポリシーは、運営者の判断により予告なく変更されることがあります。変更後のプライバシーポリシーについては、本サービス内で適宜公開します。</p>
  </section>
  </div>
  </div>