<div class="message flex flex-col ">
    <div class="self-end bg-blue-500 text-white rounded-r-lg rounded-bl-lg p-2" data-user-id="<%= message.user_id %>">
      <p><%= message.content %></p>
    </div>  
</div>