<div class="min-h-screen flex items-center justify-center bg-white-600">
  <div class="text-center">
    <div class="mb-8">
      <!-- 仮のイラストパスを実際のものに置き換える -->
    </div>
    <h1 class="font-russo text-5xl text-black">Link_Discord </h1>
    <p class="py-6 text-black font-dotgothic">Discordで質問したり雑談をする仲間を集めに行こう!</p>
    <% if logged_in? %>
      <%= link_to "質問する", new_question_path, class: "font-dotgothic btn btn-primary" %>
    <% end %>
    <%= link_to "見つけに行く", questions_path, class: "font-dotgothic btn btn-primary" %>

  </div>
</div>