<footer class="footer footer-center p-10 bg-star-dark text-base-content rounded">
    <p class="text-white font-dotgothic ">Copyright © 2023 - Link_Disco </p>
    <div class="flex justify-center">
    <%=link_to "利用規約", "top/user_policy", class: "text-white mr-8"%>
    <%=link_to "プライバシーポリシー", "#", class: "text-white mr-8"%>
    <%=link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSdoSqcHLd8kX8rBB8hnHVlfFlvOx4TczDc4-QT3cXQXEZr3Cw/viewform?usp=sf_link", class: "text-white"%>
    </div>
</footer>