<h1>Chat room</h1>
<div id="messages" data-current-user-id="<%= current_user.id %>" data-question-id="<%= @question.id %>">
  <%= render @messages %>
</div>
<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
