<div class="flex-1 min-h-screen bg-star-dark">
  <div class="p-4">
    <h1 class="text-white text-2xl font-bold mb-4 flex items-center">
    <i class="fa-brands fa-rocketchat fa-4lg custom-icon pr-4"></i>
      Chat room
    </h1>
    <p class="text-white">※うまくいかない場合はリロードしてみてください。
    <div id="messages" data-current-user-id="<%= current_user.id %>" data-question-id="<%= @question.id %>" class="overflow-y-auto max-h-[500px] bg-gray-700 p-4 rounded-lg space-y-2">
      <%= render @messages %>
    </div>
  </div>
  <form class="p-4">
  <div class="flex items-center">
    <input type="text" data-behavior="room_speaker" placeholder="メッセージを送信" class="flex-1 p-2 rounded-l-lg focus:outline-none focus:ring focus:border-blue-300 bg-gray-600 text-white placeholder-gray-400" />
  </div>
</form>
</div>

