@tailwind base;
@tailwind components;
@tailwind utilities;

/* Discord風のボタンスタイル */
.w-full.bg-blue-500:hover {
  background-color: #5865f2; /* Discordのブランドカラーに似た色 */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/* 入力フィールドの角を丸くする */
.bg-gray-500 {
  border-radius: 8px;
}

.bg-discord-black {
  background-color: #36393f; /* Discordのダークテーマ背景色 */
}

.text-discord-blurple {
  color: #7289da; /* Discordのブループル色 */
}

.inline-flex.items-center {
  border: 2px solid #7289da; /* ボーダー色もDiscord風に */
  padding: 0.5rem 1rem; /* パディングを調整 */
  border-radius: 0.5rem; /* 角を丸くする */
  transition: background-color 0.2s; /* 色が変わる際のアニメーションを追加 */
}

.inline-flex.items-center:hover {
  background-color: #7289da; /* ホバー時の背景色 */
  color: white; /* ホバー時の文字色 */
}

.bg-discord-dark {
  background-color: #23272A; /* Discordのダークテーマの背景色 */
}

.text-discord-blurple {
  color: #7289da; /* Discordのブランドカラー */
}

.bg-discord-container {
  background-color: #2C2F33; /* Discordのコンテナの背景色 */
}

.bg-discord-dark { background-color: #36393f; }
.bg-discord-dark-secondary { background-color: #2f3136; }
.bg-discord-input { background-color: #40444b; }
.border-discord-input-border { border-color: #202225; }
.bg-discord-blurple { background-color: #7289da; }
.bg-discord-blurple-dark { background-color: #677bc4; }
.bg-discord-focus { border-color: #00aff4; }

.bg-star-dark{ background-color:#080f1c;}


body{
  padding:0;
  margin:0;
  width: 100%;
}

.sky{
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  width: 100%;
  height:250px;
  background:#07071d;
  overflow: hidden;
}
.sky p{
  padding:20px;
  margin:0;
  font-size:40px;
  font-weight: bold;
  color:#FFF;
}

.stars{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height:100%;
}

.stars span{
  position:relative;
}

.stars span:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  
  /*星のサイズ調節*/
  transform:scale(0.20);
}

.stars span.l:before{
  box-shadow: 
    /*0段目*/
    20px  0px #FDD835,
    /*1段目*/
    20px 10px #FFF176,
    /*2段目*/
     0px 20px #FDD835,
    10px 20px #FFF176,
    20px 20px #FFFFFF,
    30px 20px #FFF176,
    40px 20px #FDD835,
    /*3段目*/
    20px 30px #FFF176,
    /*4段目*/
    20px 40px #FDD835;
}

.stars span.m:before{
  /*これが一番大きい黄色いスタイル*/
  box-shadow: 
    /*1段目*/
    20px 10px #FFF176,
    /*2段目*/
    10px 20px #FFF176,
    20px 20px #FFFFFF,
    30px 20px #FFF176,
    /*3段目*/
    20px 30px #FFF176
}

.stars span.n:before{
  /*これが一番大きい黄色いスタイル*/
  box-shadow: 
    /*1段目*/
    20px 10px #FFF176,
    /*2段目*/
    10px 20px #FFF176,
    20px 20px #FFFFFF,
    30px 20px #FFF176,
    /*3段目*/
    20px 30px #FFF176
}

.stars span.o:before{
  /*これが一番大きい黄色いスタイル*/
  box-shadow: 
    /*0段目*/
    20px  0px #FDD835,
    /*1段目*/
    20px 10px #FFF176,
    /*2段目*/
     0px 20px #FDD835,
    10px 20px #FFF176,
    20px 20px #FFFFFF,
    30px 20px #FFF176,
    40px 20px #FDD835,
    /*3段目*/
    20px 30px #FFF176,
    /*4段目*/
    20px 40px #FDD835;
}

.stars span.p:before{
  /* 新しい星のスタイル */
  box-shadow: 
    20px 10px #FFF176,
    10px 20px #FFF176,
    20px 20px #FFFFFF,
    30px 20px #FFF176,
    20px 30px #FFF176;
}

.stars span.q:before{
  /* 新しい星のスタイル */
  box-shadow: 
    20px  0px #FDD835,
    20px 10px #FFF176,
    0px 20px #FDD835,
    10px 20px #FFF176,
    20px 20px #FFFFFF,
    30px 20px #FFF176,
    40px 20px #FDD835,
    20px 30px #FFF176,
    20px 40px #FDD835;
}

.stars span.r:before{
  box-shadow: 
    /*1段目*/
    20px 10px #FFF176,
    /*2段目*/
    10px 20px #FFF176,
    20px 20px #FFFFFF,
    30px 20px #FFF176,
    /*3段目*/
    20px 30px #FFF176
}


.stars span.s:before{
  
  box-shadow: 
  /*1段目*/
  20px 10px #FFF176,
  /*2段目*/
  10px 20px #FFF176,
  20px 20px #FFFFFF,
  30px 20px #FFF176,
  /*3段目*/
  20px 30px #FFF176
}


.stars span.t:before{
  
  box-shadow: 
  /*1段目*/
  20px 10px #FFF176,
  /*2段目*/
  10px 20px #FFF176,
  20px 20px #FFFFFF,
  30px 20px #FFF176,
  /*3段目*/
  20px 30px #FFF176
}



 /*
星の位置とアニメーション指定
最初の秒はアニメーション時間、2つ目は開始までの時間
*/
.stars span:nth-child(1){left:10%; top:10%; animation: star-anim 8s 0s infinite;}
.stars span:nth-child(2){left:80%; top:20%; animation: star-anim 6s 1s infinite;}
.stars span:nth-child(3){left:10%; top:40%; animation: star-anim 5s 2s infinite;}
.stars span:nth-child(4){left:20%; top:70%; animation: star-anim 7s 3s infinite;}
.stars span:nth-child(5){left:80%; top:80%; animation: star-anim 7s 4s infinite;}

.stars span:nth-child(6){left:40%; top:10%; animation: star-anim 4s 0s infinite;}
.stars span:nth-child(7){left:10%; top:50%; animation: star-anim 7s 1s infinite;}
.stars span:nth-child(8){left:50%; top:50%; animation: star-anim 8s 2s infinite;}
.stars span:nth-child(9){left:80%; top:80%; animation: star-anim 5s 3s infinite;}
.stars span:nth-child(10){left:80%; top:50%; animation: star-anim 7s 4s infinite;}

.stars span:nth-child(11){left:90%; top:10%; animation: star-anim 5s 0s infinite;}
.stars span:nth-child(12){left:10%; top:80%; animation: star-anim 6s 1s infinite;}
.stars span:nth-child(13){left:30%; top:20%; animation: star-anim 7s 2s infinite;}
.stars span:nth-child(14){left:10%; top:90%; animation: star-anim 8s 3s infinite;}
.stars span:nth-child(15){left:80%; top:50%; animation: star-anim 7s 4s infinite;}

.stars span:nth-child(16){left:10%; top:10%; animation: star-anim 5s 0s infinite;}
.stars span:nth-child(17){left:20%; top:15%; animation: star-anim 6s 1s infinite;}
.stars span:nth-child(18){left:30%; top:20%; animation: star-anim 7s 2s infinite;}
.stars span:nth-child(19){left:40%; top:30%; animation: star-anim 8s 3s infinite;}
.stars span:nth-child(20){left:50%; top:40%; animation: star-anim 7s 4s infinite;}

.stars span:nth-child(21){left:90%; top:10%; animation: star-anim 5s 0s infinite;}
.stars span:nth-child(22){left:10%; top:80%; animation: star-anim 6s 1s infinite;}
.stars span:nth-child(23){left:30%; top:20%; animation: star-anim 7s 2s infinite;}
.stars span:nth-child(24){left:5%; top:95%; animation: star-anim 8s 3s infinite;}
.stars span:nth-child(25){left:20%; top:50%; animation: star-anim 7s 4s infinite;}

.stars span:nth-child(26){left:90%; top:10%; animation: star-anim 5s 0s infinite;}
.stars span:nth-child(27){left:10%; top:80%; animation: star-anim 6s 1s infinite;}
.stars span:nth-child(28){left:30%; top:20%; animation: star-anim 7s 2s infinite;}
.stars span:nth-child(29){left:20%; top:90%; animation: star-anim 8s 3s infinite;}
.stars span:nth-child(30){left:80%; top:50%; animation: star-anim 7s 4s infinite;}

.stars span:nth-child(31){left:90%; top:30%; animation: star-anim 8s 0s infinite;}
.stars span:nth-child(32){left:10%; top:40%; animation: star-anim 8s 1s infinite;}
.stars span:nth-child(33){left:20%; top:40%; animation: star-anim 8s 2s infinite;}
.stars span:nth-child(34){left:10%; top:30%; animation: star-anim 8s 3s infinite;}
.stars span:nth-child(35){left:80%; top:60%; animation: star-anim 8s 4s infinite;}

.stars span:nth-child(36){left:10%; top:2%; animation: star-anim 8s 0s infinite;}
.stars span:nth-child(37){left:10%; top:5%; animation: star-anim 8s 1s infinite;}
.stars span:nth-child(38){left:20%; top:10%; animation: star-anim 8s 2s infinite;}
.stars span:nth-child(39){left:10%; top:30%; animation: star-anim 8s 3s infinite;}
.stars span:nth-child(40){left:90%; top:7%; animation: star-anim 8s 4s infinite;}

.stars span:nth-child(41){left:10%; top:60%; animation: star-anim 8s 0s infinite;}
.stars span:nth-child(42){left:30%; top:60%; animation: star-anim 8s 1s infinite;}
.stars span:nth-child(43){left:40%; top:55%; animation: star-anim 8s 2s infinite;}
.stars span:nth-child(44){left:10%; top:80%; animation: star-anim 8s 3s infinite;}
.stars span:nth-child(45){left:10%; top:75%; animation: star-anim 8s 4s infinite;}


/*アニメーションキーフレーム*/
@keyframes star-anim {
  0%, 100% { opacity: 0; transform: scale(0.5); }
  5%, 95% { opacity: 1; transform: scale(1.2); }
  50% { opacity: 0; transform: scale(0.5); }
}



/*光る文字*/
@keyframes glowing {
  0% { color: #FFF; text-shadow: 0 0 5px #FFF; }
  50% { color: #FFF; text-shadow: 0 0 10px #FFF; opacity: 0.7; }
  100% { color: #FFF; text-shadow: 0 0 5px #FFF; }
}

.font-glow {
  animation: glowing 4s ease-in-out infinite;
}

.custom-icon {
  color: #ffffffc4;
  font-size: 30px;
}


.discord-blue {
  background-color: #7289da
}



.discord-gray-midle {
  color: #424549
}

.fixed-height {
  height: 120px !important;
}

.min-w {
  min-width: 80px;
  height: auto !important;
  height: 100px;
  }